In [53]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression,LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import BaggingClassifier, RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.datasets import make_classification
from sklearn.model_selection import cross_val_score
from xgboost import XGBClassifier

In [10]:
import psycopg2

# Establish connection to PostgreSQL database
conn = psycopg2.connect(database="Event_Feedback", user="postgres", password="hdd@183116", host="localhost")

# Execute SQL query and load data into pandas dataframe
df = pd.read_sql_query("SELECT * FROM event_data;", conn)

# Close database connection
conn.close()

# Display dataframe
df.head()

C:\Users\shupe\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,index,Rebook Rating,Overall City Value,Overall Meeting Value,Ease of Business,Cleanliness,Entertainment / Attractions,Shopping,Overall Attendance,International Attendance
0,282,1.0,5.0,3.0,5.0,4.0,4.0,3.0,4.0,4.0
1,283,0.0,3.0,3.0,3.0,3.0,4.0,3.0,1.0,1.0
2,284,0.0,4.0,5.0,3.0,4.0,5.0,3.0,2.0,2.0
3,287,0.0,4.0,4.0,4.0,3.0,3.0,2.0,4.0,3.0
4,289,1.0,5.0,5.0,4.0,5.0,4.0,3.0,4.0,4.0

In [11]:
df=df.drop(df.columns[[0]], axis=1)

In [12]:
X = df.drop(['Rebook Rating'], axis=1)
y = df['Rebook Rating']

In [47]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [81]:
bag_model = BaggingClassifier(
base_estimator=DecisionTreeClassifier(), 
n_estimators=100, 
max_samples=.5, 
bootstrap=True,
random_state=42
)
bag_model.fit(X_train, y_train)
bag_model.score(X_test, y_test)

0.6666666666666666

In [80]:
bag_model = BaggingClassifier(
base_estimator=XGBClassifier(), 
n_estimators=100, 
max_samples=.5, 
bootstrap=True,
oob_score=False,
random_state=42
)
bag_model.fit(X_train, y_train)
bag_model.score(X_test, y_test)

0.7222222222222222

In [82]:
bag_model = BaggingClassifier(
base_estimator=RandomForestClassifier(), 
n_estimators=100, 
max_samples=.5, 
bootstrap=True,
oob_score=False,
random_state=42
)
bag_model.fit(X_train, y_train)
bag_model.score(X_test, y_test)

0.7777777777777778